<?xml version="1.0" encoding="utf-8"?>
<Content Key="0dcc95dc-6cc3-4399-99b5-2ab478aa7536" Alias="Sample Site" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SampleSite</Path>
    <Trashed>false</Trashed>
    <ContentType>siteRoot</ContentType>
    <CreateDate>2024-08-27T18:18:32</CreateDate>
    <NodeName Default="Sample Site" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callToActionText>
      <Value><![CDATA[]]></Value>
    </callToActionText>
    <contactUsText>
      <Value><![CDATA[Contact Us]]></Value>
    </contactUsText>
    <email>
      <Value><![CDATA[]]></Value>
    </email>
    <footerLogo>
      <Value><![CDATA[[]]]></Value>
    </footerLogo>
    <headerLogo>
      <Value><![CDATA[[]]]></Value>
    </headerLogo>
    <internalLinks>
      <Value><![CDATA[]]></Value>
    </internalLinks>
    <legalLinks>
      <Value><![CDATA[]]></Value>
    </legalLinks>
    <navigationTitle>
      <Value><![CDATA[]]></Value>
    </navigationTitle>
    <phoneNumber>
      <Value><![CDATA[]]></Value>
    </phoneNumber>
    <quickLinks>
      <Value><![CDATA[]]></Value>
    </quickLinks>
    <showBreadcrumbs>
      <Value><![CDATA[0]]></Value>
    </showBreadcrumbs>
    <showInNavigation>
      <Value><![CDATA[0]]></Value>
    </showInNavigation>
    <socialLinks>
      <Value><![CDATA[]]></Value>
    </socialLinks>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoInternalRedirectId>
      <Value><![CDATA[umb://document/3c45e44451164e068cda34990d4e1465]]></Value>
    </umbracoInternalRedirectId>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[/site-settings]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>