<?xml version="1.0" encoding="utf-8"?>
<Content Key="11ed5f39-fdc2-4270-b4ae-78124844eade" Alias="Test Two Column" Level="3">
  <Info>
    <Parent Key="0dcc95dc-6cc3-4399-99b5-2ab478aa7536">Sample Site</Parent>
    <Path>/Sites/SampleSite/TestTwoColumn</Path>
    <Trashed>false</Trashed>
    <ContentType>twoColumnPage</ContentType>
    <CreateDate>2024-08-28T09:54:27</CreateDate>
    <NodeName Default="Test Two Column" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b7ae3da1-dad8-410e-a517-72170c0f5cfa">TwoColumnContentPage</Template>
  </Info>
  <Properties>
    <followLinks>
      <Value><![CDATA[1]]></Value>
    </followLinks>
    <indexPage>
      <Value><![CDATA[1]]></Value>
    </indexPage>
    <mainComponents>
      <Value><![CDATA[umb://document/60a38a2186e949c191ca3fba6ed48eb8]]></Value>
    </mainComponents>
    <metaDescription>
      <Value><![CDATA[Test]]></Value>
    </metaDescription>
    <metaImage>
      <Value><![CDATA[[
  {
    "key": "e448b540-a58b-4656-aced-66d860179cff",
    "mediaKey": "76884144-e3ec-4f42-9b8c-04d61c6ca7dc"
  }
]]]></Value>
    </metaImage>
    <metaTitle>
      <Value><![CDATA[Test]]></Value>
    </metaTitle>
    <navigationTitle>
      <Value><![CDATA[]]></Value>
    </navigationTitle>
    <ogDescription>
      <Value><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value><![CDATA[]]></Value>
    </ogTitle>
    <ogType>
      <Value><![CDATA[[
  "website"
]]]></Value>
    </ogType>
    <showBreadcrumbs>
      <Value><![CDATA[1]]></Value>
    </showBreadcrumbs>
    <showInNavigation>
      <Value><![CDATA[1]]></Value>
    </showInNavigation>
    <sideComponents>
      <Value><![CDATA[umb://document/60a38a2186e949c191ca3fba6ed48eb8]]></Value>
    </sideComponents>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>