<?xml version="1.0" encoding="utf-8"?>
<Content Key="3ea6e162-bdfb-4361-bbe7-d474e0ac6ee3" Alias="Global Content" Level="2">
  <Info>
    <Parent Key="0dcc95dc-6cc3-4399-99b5-2ab478aa7536">Sample Site</Parent>
    <Path>/SampleSite/GlobalContent</Path>
    <Trashed>false</Trashed>
    <ContentType>contentRepository</ContentType>
    <CreateDate>2024-08-27T18:19:08</CreateDate>
    <NodeName Default="Global Content" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <navigationTitle>
      <Value><![CDATA[]]></Value>
    </navigationTitle>
    <showBreadcrumbs>
      <Value><![CDATA[0]]></Value>
    </showBreadcrumbs>
    <showInNavigation>
      <Value><![CDATA[0]]></Value>
    </showInNavigation>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>