<?xml version="1.0" encoding="utf-8"?>
<Content Key="c820ad63-bd7f-4746-a101-21129947f325" Alias="Text With Image" Level="4">
  <Info>
    <Parent Key="3ea6e162-bdfb-4361-bbe7-d474e0ac6ee3">Site Content</Parent>
    <Path>/Sites/SampleSite/SiteContent/TextWithImage</Path>
    <Trashed>false</Trashed>
    <ContentType>textWithImageRepository</ContentType>
    <CreateDate>2024-08-27T18:19:34</CreateDate>
    <NodeName Default="Text With Image" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>