<?xml version="1.0" encoding="utf-8"?>
<Content Key="9b0d3bdd-6158-45e3-ac9e-e51a437ed3c1" Alias="Card" Level="4">
  <Info>
    <Parent Key="3ea6e162-bdfb-4361-bbe7-d474e0ac6ee3">Site Content</Parent>
    <Path>/Sites/SampleSite/SiteContent/Card</Path>
    <Trashed>false</Trashed>
    <ContentType>cardRepository</ContentType>
    <CreateDate>2024-08-27T18:20:55</CreateDate>
    <NodeName Default="Card" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>