<?xml version="1.0" encoding="utf-8"?>
<Content Key="74de7c6a-44a8-4142-9f05-2c3dedbeddcf" Alias="Cta" Level="4">
  <Info>
    <Parent Key="3ea6e162-bdfb-4361-bbe7-d474e0ac6ee3">Site Content</Parent>
    <Path>/Sites/SampleSite/SiteContent/Cta</Path>
    <Trashed>false</Trashed>
    <ContentType>ctaRepository</ContentType>
    <CreateDate>2024-08-27T18:20:46</CreateDate>
    <NodeName Default="Cta" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>