<?xml version="1.0" encoding="utf-8"?>
<Content Key="d1d2fb01-722b-4c2b-90f0-909fdb7d863e" Alias="Social Link" Level="4">
  <Info>
    <Parent Key="3ea6e162-bdfb-4361-bbe7-d474e0ac6ee3">Site Content</Parent>
    <Path>/Sites/SampleSite/SiteContent/SocialLink</Path>
    <Trashed>false</Trashed>
    <ContentType>socialLinkRepository</ContentType>
    <CreateDate>2024-08-27T18:20:42</CreateDate>
    <NodeName Default="Social Link" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>