<?xml version="1.0" encoding="utf-8"?>
<Content Key="e5dc7cdc-70e2-4b8e-b0ad-c54cb88e40d2" Alias="Full Width Text" Level="3">
  <Info>
    <Parent Key="3ea6e162-bdfb-4361-bbe7-d474e0ac6ee3">Global Content</Parent>
    <Path>/SampleSite/GlobalContent/FullWidthText</Path>
    <Trashed>false</Trashed>
    <ContentType>fullWidthTextRepository</ContentType>
    <CreateDate>2024-08-27T18:20:04</CreateDate>
    <NodeName Default="Full Width Text" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>