<?xml version="1.0" encoding="utf-8"?>
<Content Key="e6710c6e-5ac2-496b-924c-f8437ffde47f" Alias="Card Grid" Level="3">
  <Info>
    <Parent Key="3ea6e162-bdfb-4361-bbe7-d474e0ac6ee3">Global Content</Parent>
    <Path>/SampleSite/GlobalContent/CardGrid</Path>
    <Trashed>false</Trashed>
    <ContentType>cardGridRepository</ContentType>
    <CreateDate>2024-08-27T18:21:01</CreateDate>
    <NodeName Default="Card Grid" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>