<?xml version="1.0" encoding="utf-8"?>
<Content Key="780eaeba-385d-481b-9e6c-e6d487a836ba" Alias="Global Content" Level="2">
  <Info>
    <Parent Key="188d325e-9c15-4d87-a0d0-5485033b8e0c">Sites</Parent>
    <Path>/Sites/GlobalContent</Path>
    <Trashed>false</Trashed>
    <ContentType>globalContentRepository</ContentType>
    <CreateDate>2024-09-02T08:09:43</CreateDate>
    <NodeName Default="Global Content" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <navigationTitle>
      <Value><![CDATA[]]></Value>
    </navigationTitle>
    <showBreadcrumbs>
      <Value><![CDATA[0]]></Value>
    </showBreadcrumbs>
    <showInNavigation>
      <Value><![CDATA[0]]></Value>
    </showInNavigation>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>