<?xml version="1.0" encoding="utf-8"?>
<Content Key="e4320c85-eedb-45f9-becf-3c0bd2b62789" Alias="Hero" Level="4">
  <Info>
    <Parent Key="3ea6e162-bdfb-4361-bbe7-d474e0ac6ee3">Site Content</Parent>
    <Path>/Sites/SampleSite/SiteContent/Hero</Path>
    <Trashed>false</Trashed>
    <ContentType>heroRepository</ContentType>
    <CreateDate>2024-08-27T18:19:20</CreateDate>
    <NodeName Default="Hero" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>