<?xml version="1.0" encoding="utf-8"?>
<Content Key="3c45e444-5116-4e06-8cda-34990d4e1465" Alias="Homepage" Level="3">
  <Info>
    <Parent Key="0dcc95dc-6cc3-4399-99b5-2ab478aa7536">Sample Site</Parent>
    <Path>/Sites/SampleSite/Homepage</Path>
    <Trashed>false</Trashed>
    <ContentType>fullWidthPage</ContentType>
    <CreateDate>2024-08-27T18:18:49</CreateDate>
    <NodeName Default="Homepage" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="26b7c530-9040-4179-a819-ece8de53f088">FullWidthContentPage</Template>
  </Info>
  <Properties>
    <components>
      <Value><![CDATA[umb://document/60a38a2186e949c191ca3fba6ed48eb8]]></Value>
    </components>
    <followLinks>
      <Value><![CDATA[1]]></Value>
    </followLinks>
    <indexPage>
      <Value><![CDATA[1]]></Value>
    </indexPage>
    <metaDescription>
      <Value><![CDATA[Description for homepage]]></Value>
    </metaDescription>
    <metaImage>
      <Value><![CDATA[[
  {
    "key": "702dbf7b-fac5-4588-aee6-b2005d6c75b9",
    "mediaKey": "76884144-e3ec-4f42-9b8c-04d61c6ca7dc"
  }
]]]></Value>
    </metaImage>
    <metaTitle>
      <Value><![CDATA[Home]]></Value>
    </metaTitle>
    <navigationTitle>
      <Value><![CDATA[]]></Value>
    </navigationTitle>
    <ogDescription>
      <Value><![CDATA[]]></Value>
    </ogDescription>
    <ogImage>
      <Value><![CDATA[[]]]></Value>
    </ogImage>
    <ogTitle>
      <Value><![CDATA[]]></Value>
    </ogTitle>
    <ogType>
      <Value><![CDATA[[
  "website"
]]]></Value>
    </ogType>
    <showBreadcrumbs>
      <Value><![CDATA[1]]></Value>
    </showBreadcrumbs>
    <showInNavigation>
      <Value><![CDATA[1]]></Value>
    </showInNavigation>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[/index]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>