<?xml version="1.0" encoding="utf-8"?>
<Content Key="188d325e-9c15-4d87-a0d0-5485033b8e0c" Alias="Sites" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Sites</Path>
    <Trashed>false</Trashed>
    <ContentType>sitesRepository</ContentType>
    <CreateDate>2024-09-02T08:13:43</CreateDate>
    <NodeName Default="Sites" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>