<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9410cfe8-ff3e-4007-be12-430c4e9445ec" Alias="Social Links Multinode Treepicker" Level="2">
  <Info>
    <Name>Social Links Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "Filter": "socialLink",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": {
      "originAlias": "Site",
      "originKey": null,
      "querySteps": []
    },
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>