<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e6e4f987-f0b4-49fc-a5c6-4d28dab7931f" Alias="BL - Card List" Level="3">
  <Info>
    <Name>BL - Card List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom+Types/Block+Lists</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": 0
  }
}]]></Config>
</DataType>