<?xml version="1.0" encoding="utf-8"?>
<DataType Key="680071cc-50ce-4385-82ad-a2e54206ab2c" Alias="BL - Hero Slides" Level="3">
  <Info>
    <Name>BL - Hero Slides</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom+Types/Block+Lists</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "71ae4a4a-0d02-4a75-8a88-9f18871dadf1",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": 0
  }
}]]></Config>
</DataType>