<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d037fafc-e968-402d-9979-634e1af24a35" Alias="Cta List - 2 Max" Level="2">
  <Info>
    <Name>Cta List - 2 Max</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "e6fb0f60-292c-49a7-a1b3-a763bcb91e28",
      "editorSize": "small",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{title}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": 2,
    "min": 0
  }
}]]></Config>
</DataType>