<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c1dc0df0-2eac-404d-826b-e4ca87b21362" Alias="Email - Email address" Level="1">
  <Info>
    <Name>Email - Email address</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IsRequired": false
}]]></Config>
</DataType>