<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b0666553-9624-4308-9600-ba8a2fb43adc" Alias="Horizontal Alignment Dropdown (Left/Right)" Level="3">
  <Info>
    <Name>Horizontal Alignment Dropdown (Left/Right)</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Custom+Types/Dropdowns</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "left"
    },
    {
      "id": 2,
      "value": "right"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>