<?xml version="1.0" encoding="utf-8"?>
<DataType Key="91daad36-ab0e-4c9a-aee8-e64577905999" Alias="Opengraph Type Dropdown" Level="3">
  <Info>
    <Name>Opengraph Type Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Custom+Types/Dropdowns</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "website"
    },
    {
      "id": 2,
      "value": "article"
    },
    {
      "id": 3,
      "value": "profile"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>