<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6f17525a-5a5c-4bcb-a3c4-db5bcb38643e" Alias="Social Link Type Dropdown" Level="3">
  <Info>
    <Name>Social Link Type Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Custom+Types/Dropdowns</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Instagram"
    },
    {
      "id": 2,
      "value": "Facebook"
    },
    {
      "id": 3,
      "value": "LinkedIn"
    },
    {
      "id": 4,
      "value": "TikTok"
    },
    {
      "id": 5,
      "value": "Twitter"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>