<?xml version="1.0" encoding="utf-8"?>
<DataType Key="771a33b5-5df6-4c52-8801-90f68d6f9e14" Alias="True/false - True Default" Level="3">
  <Info>
    <Name>True/false - True Default</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>Custom+Types/Toggles</Folder>
  </Info>
  <Config><![CDATA[{
  "Default": true,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>