<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ac4ab951-f5d5-4068-9a21-bc1ad150c198" Alias="URL Picker (Unlimited)" Level="3">
  <Info>
    <Name>URL Picker (Unlimited)</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom+Types/Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>