<?xml version="1.0" encoding="utf-8"?>
<DataType Key="026e52c2-ec52-4da0-bea7-ef871c03e578" Alias="URL Picker (Single)" Level="3">
  <Info>
    <Name>URL Picker (Single)</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom+Types/Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>