<?xml version="1.0" encoding="utf-8"?>
<DataType Key="aaaf0b1f-c5b5-4ca3-8314-1dbf1762d81a" Alias="Vertical Alignment Dropdown (Top/Bottom)" Level="3">
  <Info>
    <Name>Vertical Alignment Dropdown (Top/Bottom)</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Custom+Types/Dropdowns</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "top"
    },
    {
      "id": 2,
      "value": "bottom"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>