<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="103f3c88-873e-4688-b9f6-022b808151fe" Alias="textWithImageRepository" Level="3">
  <Info>
    <Name>Text With Image Repository</Name>
    <Icon>icon-folder-open color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components/Text+With+Image</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="f3d6b314-a1ae-4295-83ef-65599fa31e48" SortOrder="0">textWithImage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>