<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="20b6f86c-3bce-4812-84c0-bf2e62814dcf" Alias="cardRepository" Level="3">
  <Info>
    <Name>Card Repository</Name>
    <Icon>icon-folder-open color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components/Card</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="98cedae6-2123-4384-80ea-13188b838e90" SortOrder="0">card</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>