<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6e4ed98a-ad11-45ce-98ea-b0398207727a" Alias="sitesRepository" Level="2">
  <Info>
    <Name>Sites Repository</Name>
    <Icon>icon-directions-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="7843a02b-e028-4ef6-94b1-1179b2a6bfc5" SortOrder="0">globalContentRepository</ContentType>
    <ContentType Key="a78f7847-c8fc-4a93-b46f-22d19eb3f872" SortOrder="1">siteRoot</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>