<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8163ca67-5e69-4627-9f5f-6eed9e0aa46f" Alias="siteSettings" Level="2">
  <Info>
    <Name>Site Settings</Name>
    <Icon>icon-umb-developer color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Contains global site configuration data such as header, footer, navigation, etc</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="ce126a89-bc96-47c0-b4ca-bfe34618ecd2">footer</Composition>
      <Composition Key="33074626-8a21-4070-9aa1-c1186b018072">header</Composition>
      <Composition Key="9d5a7b6b-320c-462d-b41b-70af7a0f4b1d">pageSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>