<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9c36c508-7198-4c48-8fa5-85fd1a280e0b" Alias="socialLinkRepository" Level="3">
  <Info>
    <Name>Social Link Repository</Name>
    <Icon>icon-folder-open color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components/Social+Link</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="d58a21f8-c7c8-4133-b386-c661d561b155" SortOrder="0">socialLink</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>