<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a1a78cbe-ba43-4a36-9040-ffe7bfd45717" Alias="breadcrumbs" Level="2">
  <Info>
    <Name>Breadcrumbs</Name>
    <Icon>icon-layers color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions/>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates/>
  </Info>
  <Structure/>
  <GenericProperties>
    <GenericProperty>
      <Key>865f6285-aa2f-46c0-8a08-11bbbd779c2e</Key>
      <Name>Show Breadcrumbs</Name>
      <Alias>showBreadcrumbs</Alias>
      <Definition>771a33b5-5df6-4c52-8801-90f68d6f9e14</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Display breadcrumbs for current and parent pages]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="navigation/secondary">Secondary</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>319e0042-d483-4097-b4a9-efa33612f317</Key>
      <Caption>Navigation</Caption>
      <Alias>navigation</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>f911bcd8-f25a-46e1-848b-d17195e36825</Key>
      <Caption>Secondary</Caption>
      <Alias>navigation/secondary</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
