<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1df691c0-5d62-49fc-a076-39097fdc375a" Alias="cardGridRepository" Level="3">
  <Info>
    <Name>Card Grid Repository</Name>
    <Icon>icon-folder-open color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components/Card+Grid</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="8b9729b7-10ff-4a44-9226-9e0b8e8aeb11" SortOrder="0">cardGrid</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>