<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9ad739ab-711c-4890-8dc6-c73e6333a1f8" Alias="ctaRepository" Level="3">
  <Info>
    <Name>Cta Repository</Name>
    <Icon>icon-folder-open color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components/Cta</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="e6fb0f60-292c-49a7-a1b3-a763bcb91e28" SortOrder="0">cta</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>