<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="df1360bb-2813-45ed-ae45-50290ed7c2a7" Alias="heroRepository" Level="3">
  <Info>
    <Name>Hero Repository</Name>
    <Icon>icon-folder-open color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components/Hero</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="71ae4a4a-0d02-4a75-8a88-9f18871dadf1" SortOrder="0">hero</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>