<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="440b66ff-96b2-431f-8837-a6d75de6598a" Alias="fullWidthTextRepository" Level="3">
  <Info>
    <Name>Full Width Text Repository</Name>
    <Icon>icon-folder-open color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components/Full+Width+Text</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="8e1cb36e-aa3a-407d-a186-9775326e1e4a" SortOrder="0">fullWidthText</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>