<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7843a02b-e028-4ef6-94b1-1179b2a6bfc5" Alias="globalContentRepository" Level="2">
  <Info>
    <Name>Global Content Repository</Name>
    <Icon>icon-folder-open color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="9d5a7b6b-320c-462d-b41b-70af7a0f4b1d">pageSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="df1360bb-2813-45ed-ae45-50290ed7c2a7" SortOrder="0">heroRepository</ContentType>
    <ContentType Key="103f3c88-873e-4688-b9f6-022b808151fe" SortOrder="1">textWithImageRepository</ContentType>
    <ContentType Key="440b66ff-96b2-431f-8837-a6d75de6598a" SortOrder="2">fullWidthTextRepository</ContentType>
    <ContentType Key="9c36c508-7198-4c48-8fa5-85fd1a280e0b" SortOrder="3">socialLinkRepository</ContentType>
    <ContentType Key="9ad739ab-711c-4890-8dc6-c73e6333a1f8" SortOrder="4">ctaRepository</ContentType>
    <ContentType Key="20b6f86c-3bce-4812-84c0-bf2e62814dcf" SortOrder="5">cardRepository</ContentType>
    <ContentType Key="1df691c0-5d62-49fc-a076-39097fdc375a" SortOrder="6">cardGridRepository</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>