<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9d5a7b6b-320c-462d-b41b-70af7a0f4b1d" Alias="navigationOverrides" Level="2">
  <Info>
    <Name>Navigation Overrides</Name>
    <Icon>icon-link color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions/>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates/>
  </Info>
  <Structure/>
  <GenericProperties>
    <GenericProperty>
      <Key>d0e4cdda-2270-4f3c-b8a1-4e859d111769</Key>
      <Name>Alternative URLs</Name>
      <Alias>umbracoUrlAlias</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Alternate URLs to navigate to this page, comma separated]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="navigation/urlOverrides">URL Overrides</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9675ed9d-0322-44f6-96c0-04476b8d3655</Key>
      <Name>Page Slug</Name>
      <Alias>umbracoUrlName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Change main page URL, leave empty otherwise]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="navigation/urlOverrides">URL Overrides</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3b307664-ae24-41ac-b94f-3e346b1f24de</Key>
      <Caption>URL Overrides</Caption>
      <Alias>navigation/urlOverrides</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>a7dcd815-2c4e-444c-a899-96688361e9ad</Key>
      <Caption>Navigation</Caption>
      <Alias>navigation</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
