<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fe31b0b2-7f4e-4737-9690-f49f7ec50990" Alias="pageContentRepository" Level="2">
  <Info>
    <Name>Page Content Repository</Name>
    <Icon>icon-folder-open color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="9ad739ab-711c-4890-8dc6-c73e6333a1f8" SortOrder="0">ctaRepository</ContentType>
    <ContentType Key="e6fb0f60-292c-49a7-a1b3-a763bcb91e28" SortOrder="1">cta</ContentType>
    <ContentType Key="440b66ff-96b2-431f-8837-a6d75de6598a" SortOrder="2">fullWidthTextRepository</ContentType>
    <ContentType Key="8e1cb36e-aa3a-407d-a186-9775326e1e4a" SortOrder="3">fullWidthText</ContentType>
    <ContentType Key="df1360bb-2813-45ed-ae45-50290ed7c2a7" SortOrder="4">heroRepository</ContentType>
    <ContentType Key="71ae4a4a-0d02-4a75-8a88-9f18871dadf1" SortOrder="5">hero</ContentType>
    <ContentType Key="9c36c508-7198-4c48-8fa5-85fd1a280e0b" SortOrder="6">socialLinkRepository</ContentType>
    <ContentType Key="d58a21f8-c7c8-4133-b386-c661d561b155" SortOrder="7">socialLink</ContentType>
    <ContentType Key="103f3c88-873e-4688-b9f6-022b808151fe" SortOrder="8">textWithImageRepository</ContentType>
    <ContentType Key="f3d6b314-a1ae-4295-83ef-65599fa31e48" SortOrder="9">textWithImage</ContentType>
    <ContentType Key="20b6f86c-3bce-4812-84c0-bf2e62814dcf" SortOrder="10">cardRepository</ContentType>
    <ContentType Key="98cedae6-2123-4384-80ea-13188b838e90" SortOrder="11">card</ContentType>
    <ContentType Key="1df691c0-5d62-49fc-a076-39097fdc375a" SortOrder="12">cardGridRepository</ContentType>
    <ContentType Key="8b9729b7-10ff-4a44-9226-9e0b8e8aeb11" SortOrder="13">cardGrid</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>