<?xml version="1.0" encoding="utf-8"?>
<Domain Key="621acde9-0000-0000-0000-000000000000" Alias="localhost:44309">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-GB</Language>
    <Root Key="3c45e444-5116-4e06-8cda-34990d4e1465">/Sample Site/Homepage</Root>
    <SortOrder>0</SortOrder>
  </Info>
</Domain>